{% comment %}
  Section for a Call to Action on the Webinars page.
{% endcomment %}

<div class="webinars-cta-section">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.text }}</p>
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="aai-btn aai-btn-light">{{ section.settings.button_label }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "📢 Webinars CTA",
  "category": "aai_content",
  "tag": "section",
  "class": "webinars-cta",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Have Questions?"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Contact us for more information about our webinars or suggest a topic.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Contact Us"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Webinars CTA",
      "settings": {
        "title": "Don't Miss Out!",
        "text": "<p>Our webinars are a great opportunity to learn from the best. Sign up for our newsletter to get notified about upcoming events.</p>",
        "button_label": "Subscribe Now"
      }
    }
  ]
}
{% endschema %}
